@charset "UTF-8";
/* ================================================
DEFAULT VALUES:

Font family:   Roboto Condensed,  Noto Sans

Greenish Blue: #34c6d3 (Buttons, Icons, Lines & Bckgrounds)
Steel Gray:  #41464b (Headings)
Blue Bayoux: #64707b (Paragraphs)
white: #fff (text with black backgrounds)
#f7f7f7: backgrounds
Black: #000 ()

==================================================== */
/* gogle font Noto Sans */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap&subset=japanese");
/* gogle font Roboto+Condensed */
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap");
/* General CSS */
html,
body {
  height: 100%;
}

body {
  font-family: "Roboto Condensed", "Noto Sans", sans-serif;
}

p {
  color: #64707b;
  font-size: 16px;
  font-weight: 300;
}

h3 {
  color: #41464b;
  text-transform: uppercase;
}

/* ================================================
                  HOME
==================================================== */
#home {
  height: 100%;
}

#home-cover {
  height: 100%;
  background-image: url("../img/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#home-content-box {
  background-color: rgba(0, 0, 0, 0.5);
}

#home-content-box {
  width: 100%;
  height: 100%;
  display: table;
}

#home-content-box-inner {
  display: table-cell;
  vertical-align: middle;
}

#home-heading h3 {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  margin: 20px 0 5px 0;
  text-transform: uppercase;
}

#home-heading p {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}

/* ================================================
                  PARALLAX (Generic)
==================================================== */
.bg-parallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* スクールしたときに画像が固定されてスクールする、 */
}

/* ================================================
                  BUTTONS (Generic)
==================================================== */
.btn-general {
  border-color: #fff;
  border-width: 2px;
  border-radius: 0;
  padding: 12px 26px 12px 26px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-white {
  border-color: #fff;
  color: #fff;
}

.btn-white:hover,
.btn-white:focus {
  background-color: #fff;
  color: #41464b;
}

.btn-green {
  background-color: #34c6d3;
  color: #fff;
  border-color: #34c6d3;
}

.btn-green:hover,
.btn-green:focus {
  background-color: transparent;
  color: #fff;
}

.btn-green-black {
  background-color: #34c6d3;
  color: #fff;
  border-color: #34c6d3;
}

.btn-green-black:hover,
.btn-green-black:focus {
  background-color: transparent;
  color: #64707b;
}

/* ================================================
                  CONTENT (Generic)
==================================================== */
.content-box {
  padding: 60px 0 60px 0;
}

.content-title h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 30px 0;
}

.content-title-underline {
  width: 30px;
  height: 3px;
  background-color: #34c6d3;
  margin: 0 auto 50px auto;
}

/* ================================================
                  ABOUT
==================================================== */
#about {
  background-color: #f7f7f7;
}

#about-title h4 {
  text-align: center;
  margin-bottom: 20px;
}

.about-img {
  text-align: center;
}

.about-img img {
  height: 400px;
  position: center;
}

.about-sosial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-social-list li {
  list-style: none;
  display: inline-block;
}

.about-social-list li a {
  text-decoration: none;
  font-size: 25px;
  color: #64707b;
  margin: 20px;
}

.about-social-list li a:hover {
  color: #34c6d3;
}

#about-btn {
  text-align: center;
  margin-top: 48px;
}

/* ================================================
                  WORK
==================================================== */
.work-box {
  height: 300px;
  text-align: center;
  border: 1px solid #34c6d3;
}

/* ================================================
                  SKILLS
==================================================== */
#skills {
  background-color: #f7f7f7;
}

.skill-item-icon {
  color: #34c6d3;
  float: left;
  padding: 15px;
  margin-right: 25px;
  width: 75px;
  height: 75px;
  text-align: center;
}

/* ================================================
                  CONTACT
==================================================== */
.form-control {
  margin-bottom: 20px;
}

.send-btn {
  float: right;
}

/* ================================================
                  FOOTER
==================================================== */
footer {
  background-color: rgba(0, 0, 0, 0.8);
}

#footer-top {
  margin: 20px 0;
}

#footer-top a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 0 10px;
}

#footer-top a:hover {
  color: #34c6d3;
}

#footer-top ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#footer-top ul li {
  display: inline-block;
}

#footer-copyrights p {
  margin: 0;
  color: #fff;
}

#footer-menu {
  float: left;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 20px;
}

#footer-menu ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#footer-menu ul li {
  display: inline-block;
  color: #fff;
}

#footer-menu a {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: 0 10px;
  text-decoration: none;
}

#footer-menu a:hover {
  color: #34c6d3;
}

/* ================================================
                  NAVBAR
==================================================== */
.navbar {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-brand {
  color: #fff;
  width: 80%;
}

a.navbar-brand:hover, a.navbar-brand:focus {
  background: none;
  color: #34c6d3;
}

.nav-link {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  background: none;
  color: #34c6d3;
}

.navbar-toggler {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
}

.navbar-toggler-icon {
  background-image: url(../img/dehaze-24px.svg);
}
/*# sourceMappingURL=style.css.map */